body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
}

.esquerda{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.direita{
    width: 50%;
    height: 100%;
}


.direita input{
    text-decoration: none;
    border: 1px solid rgb(34, 153, 233);
    height: 50px;
    width: 80%;
}

.direita .embaixo{
    height: 25%;
}

